@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

:root {
    /* Cores */
    --cor-01: #F7ECE1;
    --cor-02: #00A5CF;
    --cor-03: #1D1E2C;
    --cor-04: #0A0908;

    --font-padrao: 'Ubuntu', sans-serif;
    --font-secundaria: 'Overpass', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-secundaria);
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#sobre, #conhecimentos, #soft-skills, #habilidades, #projetos {
    margin-top: 10rem;
}
/* Animação Scroll */
#h1-nome {
    visibility: hidden;
}

/* Cabeçalho */
header {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: var(--cor-04);
}

#img-perfil-mobile {
    display: none;
}

.material-symbols-outlined {
    color: white;
}

/* Pagina do lado */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    background-color: var(--cor-04);
    color: var(--cor-01);
    padding-top: 3rem;
    overflow-y: scroll;
    position: fixed;
}


#fechar {
    display: none;
}

section {
    width: 66%;
    margin: auto;
    padding-bottom: 3rem;
}
/* Foto perfil */
.div-img-perfil {
    display: flex;
    justify-content: center;
}

.img-perfil {
    width: 70%;
    border-radius: 50%;
    border: 0.2rem solid var(--cor-01);
    transition: 0.5s;
}

.img-perfil:hover {
    border: 0.5rem solid var(--cor-02);
}

/* Nome */
.div-meu-nome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

aside > section span {
    color: #00A5CF;
}

.div-logo-brazil {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.logo-brazil {
    height: 25px;
}
/* Navegação */
menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}


menu nav > a {
    text-decoration: none;
    color: var(--cor-01);
    margin-top: 1rem;
}

menu nav > a:hover {
    color: var(--cor-02);
    transition: 1s;
}

/* Contato */
.contato {
    margin-top: 4rem;
}

.contato h2 {
    margin-bottom: 1rem;
}

.icon-contato {
    margin-right: 1rem;
    width: 2.2vw;
}

aside > section > .contato ul > li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 0.5rem;
    font-size: 1vw;
}

aside > section > .contato a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-01);
}

.links-aside{
    transition: 1s;
}

.links-aside:hover {
    color: #00A5CF;
    padding: 0 0 0 1rem;
}

/* Principal */
main {
    width: 100%;
    background-color: white;
    padding: 3rem;
    margin-left: 30%;
}

/*Introdução */
main h1 {
    font-family: var(--font-padrao);
}

main #h1-nome {
    line-height: 5rem;
    font-size: 4rem;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

main .btn {
    background-color: var(--cor-03);
    margin-top: 2rem;
    padding: 0.9rem 3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--cor-01);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .btn > a {
    color: var(--cor-01);
    text-decoration: none;
    font-size: 1rem;
}

main .btn:hover {
    background-color: black;
    transition: 0.5s;
}

.download {
    position: relative;
    left: 1rem;
}

.sobre-mim {
    margin-top: 3rem;
}

/* Desenvolvimento */
.tecnologias {
    display: flex;
    margin-top: 3rem;
    width: 100%;
}

.tec-left, .tec-right {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.card-tec {
    background-color: white;
    width: 14vw;
    height: 180px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.151);
}

.card-tec:hover {
    animation: slide-top .5s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-25px)}}

#logo-html, #logo-css, #logo-javascript, #logo-react {
    height: 200px;
    padding: 1rem;
}


#card-html {
    border-bottom: 3px solid red;
}

#card-css {
    border-bottom: 3px solid blue;
}

#card-javascript {
    border-bottom: 3px solid yellow;
}

#card-react {
    border-bottom: 3px solid var(--cor-02) ;
}

.span-card {
    color: var(--cor-04);
    margin-top: 2rem;
    font-size: bold;
}

.logo {
    height: 3rem;
}

.conhecimentos {
    margin-top: 5rem;
}

main h3 {
    font-family: var(--font-secundaria);
    color: rgba(0, 0, 0, 0.541);
    text-transform: uppercase;
}

main h2 {
    margin-top: 1rem;
    text-transform: uppercase;
}

main p {
    color: var(--cor-03);
    text-align: justify;
    font-family: var(--font-padrao);
    line-height: 1.3rem;
}

.text-inicial {
    margin-top: 3rem;
}

#p2 {
    margin-top: 1rem;
}


/* Paisagem */

#paisagem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/paisagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-top: 5rem;
    background-attachment: fixed;
    width: 100%;
    height: 230px;
    padding: 2rem;
}

main #paisagem > h1 {
    color: white;
    font-size: 2.5vw;
    text-transform: uppercase;
}

/* Soft Skills */
.soft-skills-mobile {
    display: none;
}


#h2-soft {
    margin-top: 5rem;
}

.soft-skills {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
}

.card-soft-skills {
    width: 18vw;
    height: 160px;
    padding: 1rem;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.151);
}

#border-card1 {
    border-bottom: 3px solid violet;
}

#border-card2 {
    border-bottom: 3px solid lightblue;
}

#border-card3 {
    border-bottom: 3px solid lightgreen;
} 

#border-card4 {
    border-bottom: 3px solid rgb(255, 195, 82);
}

#border-card5 {
    border-bottom: 3px solid rgb(255, 100, 100);
}

#border-card6 {
    border-bottom: 3px solid rgb(146, 146, 146);
}
.div-img-soft {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 6rem;
    height: 7rem;
    position: relative;
    bottom: 4rem;
    clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0% 30%);
}

#empatia {
    background: violet;
    position: relative;
}

#positividade {
    background-color: lightblue;
}

#flexivel {
    background-color: lightgreen;
}

#proatividade {
    background-color: rgb(255, 195, 82);
}

#estudo {
    background-color: rgb(255, 100, 100);
}

#criticas {
    background-color: rgb(146, 146, 146);
}

.img-soft-skill {
    height: 50px;
}

.span-soft-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    bottom: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Hard Skills */
.hard-skills {
    margin-top: 5rem;
}

.barra-progresso {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
}

.skills-left {
    width: 48%;
}

.skills-right {
    width: 48%;
}

.div-progress-bar {
    height: 6px;
    width: 100%;
    background-color: #CCC;
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 1.2rem;
    border-radius: 1rem;
}

.progress-bar::after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: ' ';
    border-radius: 1rem;
}

.progress-bar span {
    position: absolute;
    top: -25px;
    right: 0;
    font-weight: bold;
}

.div-progress-bar .progress-bar{
   position: absolute;
   height: 100%;
   border-radius: 1rem;
}

/* HTML */
#bar-html {
    background-color: red;
    animation: progress-animation-html 2s both;
}

#bar-html::after {
    background-color: red;
}

@keyframes progress-animation-html{
    0% { width: 0%; } 
    100% { width: 75%}
}

/* CSS */
#bar-css {
    background-color: blue;
    animation: progress-animation-css 2s both;
}

#bar-css::after {
    background-color: blue;
}

@keyframes progress-animation-css{
    0% { width: 0%; } 
    100% { width: 70%}
}

/* JavaScript */
#bar-javascript {
    background-color: yellow;
    animation: progress-animation-javascript 2s both;
}

#bar-javascript::after {
    background-color: yellow;
}

@keyframes progress-animation-javascript{
    0% { width: 0%; } 
    100% { width: 60%}
}

/* React */
#bar-react {
    background-color: var(--cor-02);
    animation: progress-animation-react 2s both;
}

#bar-react::after {
    background-color: var(--cor-02);
}

@keyframes progress-animation-react{
    0% { width: 0%; } 
    100% { width: 50%}
}

/* Git e GitHub */
#bar-git-github {
    background-color: black;
    animation: progress-animation-git-github 2s both;
}

#bar-git-github::after {
    background-color: black;
}

@keyframes progress-animation-git-github{
    0% { width: 0%; } 
    100% { width: 70%}
}

/* APIs */
#bar-api {
    background-color: green;
    animation: progress-animation-api 2s both;
}

#bar-api::after {
    background-color: green;
}

@keyframes progress-animation-api{
    0% { width: 0%; } 
    100% { width: 40%}
}

/* Educação */
.painel-educacao {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #c5dfdf;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.178);
}

.painel-educacao:hover {
    background-color: var(--cor-02);
    transition: 1s;
}

.painel-educacao h4 {
    text-transform: uppercase;
    color: black;
}

#educacao {
    margin-top: 5rem;
}

/* Meus Projetos */
.meus-projetos {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.projeto {
    display: flex;
    justify-content: space-between;
}

.card-projetos {
    margin-top: 3rem;
    width: 45%;
    height: 280px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.171);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.card-projetos:hover {
    width: 80%;
    height: 300px;
    transition: 1s;
}

.projeto a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 2.5vw;
    font-weight: bold;
    color: var(--cor-01);
    background-color: var(--cor-04);
}

.projeto a > span {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 1rem;
    border-radius: 1rem;
}

#ecommerce, #blogr, #snippet, #huddle, #pokedex, #shortly {
    background-repeat: no-repeat;
    background-size: cover;
}

#ecommerce {
    background-image: url(../imagens/img-ecommerce.jpg);
}


#blogr {
    background-image: url(../imagens/img-blogr.jpg);
}

#snippet {
    background-image: url(../imagens/img-snippet.jpg);
}

#huddle {
    background-image: url(../imagens/img-huddle.jpg);
}

#pokedex {
    background-image: url(../imagens/img-pokedex.png);
}

#shortly {
    background-image: url(../imagens/shortly.png);
}
