@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

:root {
    /* Cores */
    --cor-01: #F7ECE1;
    --cor-02: #00A5CF;
    --cor-03: #1D1E2C;

    --font-padrao: 'Ubuntu', sans-serif;
    --font-secundaria: 'Overpass', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-secundaria);
}

body {
    display: flex;
    width: 100%;
    background-color: var(--cor-01);
}

/* Pagina do lado */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgb(41, 41, 41);
    color: var(--cor-01);
    padding-top: 3rem;
    overflow-y: scroll;
    /*transition: 1s;*/
}

.container {
    width: 66%;
    margin: auto;
    padding-bottom: 3rem;
}

/* Foto perfil */
.div-img-perfil {
    display: flex;
    justify-content: center;
}

.img-perfil {
    width: 100%;
    border-radius: 50%;
    border: 0.5rem solid var(--cor-01);
    transition: 0.5s;
}

.img-perfil:hover {
    border: 0.5rem solid var(--cor-02);
}

/* Nome */
.div-meu-nome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

aside > .container span {
    color: #00A5CF;
}

.logo-brazil {
    height: 25px;
}

/*Soft Skills*/
.soft-skills {
    margin-top: 4rem;
}

aside > .container > .soft-skills  ul {
    list-style-position: inside;
    margin-top: 1rem;
    line-height: 1.2rem;
}

/* Contato */
.contato {
    margin-top: 4rem;
}

.contato h2 {
    margin-bottom: 1rem;
}

.icon-contato {
    margin-right: 1rem;
    width: 2vw;
}

aside > .container > .contato ul > li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 0.5rem;
    font-size: 1vw;
}

aside > .container > .contato a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-01);
}


/* Principal */
main {
    width: 70%;
    background-color: var(--cor-01);
    padding: 3rem 2rem;
}

/*Introdução */
main h1 {
    font-family: var(--font-padrao);
}

main #h1-nome {
    line-height: 5rem;
    font-size: 4rem;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

main .btn {
    background-color: var(--cor-03);
    margin-top: 2rem;
    padding: 0.9rem 3rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--cor-01);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .btn > a {
    color: var(--cor-01);
    text-decoration: none;
    font-size: 1rem;
}

.download {
    position: relative;
    left: 1rem;
}

/* Desenvolvimento */

