@media only screen and (max-width: 1200px) {
    
    .tecnologias {
        flex-direction: column;
    }

    .card-tec {
        width: 25vw;
    }

    .tec-left, .tec-right {
        width: 100%;
        justify-content: space-around;
    }
    .tec-right {
        margin-top: 3rem;
    }

    aside > section > .contato ul > li {
        font-size: 1.3vw;
    }

    .conteudo-soft-skills {
        display: none;
    }

    .div-logo-brazil {
        width: 90%;
    }
}

@media only screen and (max-width: 750px) {
    main #h1-nome {
        font-size: 3.2rem;
    }

    aside > section > .contato ul > li {
        font-size: 1.5vw;
    }

    section {
        width: 80%;
    }

    #paisagem {
        height: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .soft-skills-mobile{
        display: block;
    }

    .soft-skills-desktop {
        display: none;
    }

    .card-soft-skills {
        width: 26vw;
    }

}
